@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  justify-content: center;
  h1 {
    font-size: 72px;
    margin: 0;
    @media (max-width: $mobile) {
      font-size: 48px;
    }
  }
}

.role {
  color: $text-mid;
  font-size: 1.25rem;
}

.location {
  color: $text-dim;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.translate {
  font-family: $font-display;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid $accent;
  padding: 14px 32px;
  border-radius: 16px;
  color: $accent;
  transition: all 0.3s;
  background-color: transparent;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  @media (max-width: $mobile) {
    padding: 8px 16px;
  }
}
