@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  justify-content: center;
  h1 {
    font-size: 72px;
    margin: 0;
  }
}

.role {
  color: $text-mid;
  font-size: 1.25rem;
}

.location {
  color: $text-dim;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}
