@use '@/styles/variables' as *;

.wrapper {
  padding: 6px 10px;
  background-color: $accent-dim;
  width: fit-content;
  border: 1px solid $accent-glow;
  font-size: small;
  border-radius: 8px;
  color: $text-mid
}
